@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@media only screen and (min-width:1px){
 
    .Hero-main{
        background: #e84242 ;
       height: 100%;
    }
    .hero-head{
        /* font-size: 26px; */
        color: red;
        color: #F5E7C1;
    }

}