*{
 max-width:100%;
  /* max-height:100%;  */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}
img{
  max-width: 100%;
  height: auto;
}
svg{
  overflow: hidden;
  display: block;
}

.desktop-navbar{
  border: solid 1px black;
}

 /* @media only screen and (min-width:912px ){
.line{
  display: block;
}
.footer{
  width:100% ;
  max-width:100;
}
.top-article{
  display: flex;
}

} */
