*{
 /* max-width:100%; */
  /* max-height:100%;  */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  /* overflow: hidden;
  overflow: auto; */
}
img{
  max-width: 100%;
  height: auto;
}
svg{
  overflow: hidden;
  display: block;
}

.desktop-navbar{
  border: solid 1px black;
}
.sell3a {
  border: solid 1px blue; 
}

.btn-desk:hover{
  color: white;
  background: #e84242;
  border: solid 1px #e84242 ;
}
.navphone:hover{
 color: #e84242;
}
@keyframes floating {
  0% {
    transform: translateY(1em);
  }
  50% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(1em);
  }
}

.fries {
  animation: floating 7s infinite ease-in-out;
}

